<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sheryians Coding School</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav-container">
            <div>
                <a class="nav-link" href="{% url 'home' %}"><img class="logo" src="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD" alt="Sheryians Coding School">Sheryians Coding School</a>
            </div>
            <div class="nav-items">
                <ul class="nav-links search-nav">
                   
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'courses' %}">Courses</a></li>
                    <li class="nav-item contactus"><a class="nav-link" href="#contact">Contact Us</a></li>
                    <li class="nav-item cart-nav"><a class="nav-link" href="{% url 'cart' %}">Cart <i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li class="nav-item search-form">
                        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}" method="get">
                            <div class="div-search">
                                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </div>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><span class="nav-link">Welcome, {{ user.username }}!</span></li>
                    <li class="nav-item"><a class="nav-link logout" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer" id="contact">
        <hr>
        <div class="footer-container">
            <div class="footer-column">
                <img class="footer-icon" src="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD" alt="">
                <h5 class="footer-title connect">Let us connect our Social Media</h5>
                <p class="footer-icons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-discord"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
                </p>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">COMPANY</h5>
                <ul class="footer-list">
                    <li><a href="#!" class="footer-link">About Us</a></li>
                    <li><a href="#!" class="footer-link">Support</a></li>
                    <li><a href="#!" class="footer-link">Privacy Policy</a></li>
                    <li><a href="#!" class="footer-link">Terms and Condition</a></li>
                    <li><a href="#!" class="footer-link">Pricing and Refund</a></li>
                    <li><a href="#!" class="footer-link">Hire From US</a></li>
                    <li><a href="#!" class="footer-link">Bug Bounty</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">Get In Touch</h5>
                <ul class="footer-list">
                    <li><a href="#!" class="footer-link">+91 9848326985</a></li>
                    <li><a href="#!" class="footer-link">+91 6302457607</a></li>
                    <li><a href="#!" class="footer-link">hello@sheryians.com</a></li>
                    <li><a href="#!" class="footer-link">23-B, Indrapuri Sector C, Bhopal(MP), 462021</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024 Sheryians Pvt. Ltd.</p>
        </div>
        <hr>
    </footer>
</body>
</html>
