<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-register">
        <div class="register">
            <h2 class="register-name">Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="register-button">Register</button>
            </form>
            <a href="{% url 'login' %}" class="login-button">Already have an account? Login</a>
        </div>
    </div>
</body>
</html>
